#color{
    width: 200px;
    height: 200px;
   /* color: transparent;*/
    text-align: center;
}
.combine1{
    display: flex;
    text-align: center;
    gap: 19px;
    
}
#guessedColor{
    width: 200px;
    height: 200px;
}
.combine2{
    display: flex;
    gap: 19px;
}
#benarsalah{
    width: 200px;
}
button{
    width: 152px;
}
h1{
    text-align: center;
    margin: 0;
}
#guessedColor{
    text-align: center;
}
#benarsalah{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    margin-top: 0;
}